name: FOME console

on: [push,pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '21'

      - name: Test Compiler
        run: javac -version

      - name: Install Tools
        working-directory: ./.github/workflows/
        run: |
          sudo ./add-ubuntu-latest-apt-mirrors.sh
          sudo apt-get install sshpass mtools

      - name: Build Config Tools
        working-directory: ./java_tools
        run: ./build_tools.sh

      - name: Generate Live Documentation
        working-directory: ./firmware/
        run: ./gen_live_documentation.sh

      - name: Generate Configs
        working-directory: ./firmware/
        run: ./gen_config_board.sh config/boards/f407-discovery f407-discovery

      - name: Build & Test everything java_tools gradle while we are here
        working-directory: ./java_tools
        run: ./gradlew build test

      - name: Attach console junit results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: console junit
          path: ./java_console/build/*.txt
